##### pandas - DataFrame 클래스 : 행(row)과 열(column)로 이루어진 2차원 리스트

In [6]:
import pandas as pd
# 1. 시리즈 결합해서 데이터프레임 만들기
index=["2018", "2019", "2020", "2021"]

younghee = pd.Series([143, 150, 157, 160], index=index)
cheolsu = pd.Series([165, 172, 175, 180], index=index)

growth = pd.DataFrame({
    '영희': younghee,
    '철수': cheolsu
})

growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [42]:
# 일반적 데이터프레임 만들기

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)
print(growth)
# print(growth.columns) # 칼럼 - 인덱스로 출력됨
# print(growth.values)  # 칼럼에 대한 값

# 열 선택
# print(growth['철수'])
print(growth['영희','철수'])

# 열이름도 출력
# print(growth[['철수']])

# 행 선택
# Loc[행(문자)], iloc[인덱스(숫자)]
print(growth.loc['2020'])
print(growth.iloc[2])

# 다중 행 선택
print(growth.loc[['2020', '2021']])
print(growth.loc[[2,3]]) #[[]] - 괄호를 2개 하는 이유: 안에는 인덱스 괄호, 밖은 리스트 괄호

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
영희    157
철수    175
Name: 2020, dtype: int64
영희    157
철수    175
Name: 2020, dtype: int64

In [50]:

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)
print(growth)

# 특정 요소 1개 선택
# Loc[행(문자), 열(문자)], iloc[행(숫자), 행(숫자)]
print(growth.loc['2020', '철수'])
print(growth.iloc[2,1])

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
175
175

In [86]:
import pandas as pd
# 1. 시리즈 결합해서 데이터프레임 만들기
index=["2018", "2019", "2020", "2021"]

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)
# print(growth)

# 특정 요소 1개 선택
# Loc[행(문자), 열(문자)], iloc[행(숫자), 행(숫자)]
# print(growth.loc['2020', '철수'])
# print(growth.iloc[2,1])

# 행 추가 - 2022년
growth.loc[2022] = [163 , 183]
print(growth)
# 행 삭제 - 2020년
# 복사 - 원본 유지(깊은 복사 - 원본과 별도로 삭제, 수정) - copy()
growth2 = growth.copy()
growth2 = growth.drop("2020") # 행 삭제
print(growth2)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
2022  163  183
       영희   철수
2018  143  165
2019  150  172
2021  160  180
2022  163  183

In [58]:
import pandas as pd

index = ['재천','선영','일성']

data = {
    '국어' : [90, 80, 70],
    '수학' : [80, 75, 95],
    '영어' : [85, 95, 100]
}
df = pd.DataFrame(data, index=index)
print(df)

    국어  수학   영어
재천  90  80   85
선영  80  75   95
일성  70  95  100

In [92]:
# csv 파일 만들기
import pandas as pd

index=["2018", "2019", "2020", "2021"]

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)
# growth.to_csv('./datas/growth.csv')

# CSV 파일 읽기 - to_read_csv(경로)
growth = pd.read_csv('./datas/growth.csv', index_col=0)
print(growth)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180